.Header {
  display: flex;
  justify-content: center;
  align-self: center;
}
header {
  width: 100vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#0f2027, #203a43, #2c5364);
}
.home_btn {
  color: white;
}
